@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$box-shadow:
    10px 10px 20px 0px rgba(0, 0, 0, 0.25) inset,
    -10px -10px 20px 0px #202020 inset;
$background-color: #1a1a1a;

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    color: #747474;
    font-family: "IBM Plex Mono", monospace;
}

body {
    min-width: 20rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $background-color;
}

.root-container {
    width: 100%;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    padding: 1rem;
    background-color: $background-color;
}

nav {
    width: 100%;
    margin-bottom: 7.13rem;
}

.logo-container {
    display: flex;
    gap: 0.1rem;

    :nth-child(1) {
        font: {
            size: 1.5rem;
            weight: 400;
        }
    }

    :nth-child(2) {
        font: {
            size: 1.5rem;
            weight: 700;
        }
    }
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-and-copy-button-container {
    display: flex;
    padding: 0.56rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow;
    gap: 0.5rem;
    flex: 1 1 18rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 100%;
}

label {
    font : {
        size: 1rem;
        weight: 600;
    }
    letter-spacing: 0.02rem;
    width: max-content;
}

.units-value-input {
    width: 0;
    background: none;
    border: none;
    text-align: end;
    outline: none;
    font : {
        size: 2rem;
        weight: 600;
    }
    letter-spacing: 0.04rem;
    flex: content;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

.copy-button {
    width: 2.5625rem;
    height: 2.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.copy-button:active {
    scale: (1.1);
}

.base-value-declaration-and-settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.12rem;
}

.base-value-declaration {
    color: #393939;
    font: {
        size: 0.875rem;
        weight: 400;
    }
    letter-spacing: 0.0175rem;

    span {
        color: #393939;
        font: {
            size: 0.875rem;
            weight: 700;
        }
        letter-spacing: 0.0175rem;
    }
}

.base-value-settings {
    display: flex;
    gap: 0.2rem;

    :nth-child(1) {
        color: #393939;
        font: {
            size: 0.875rem;
            weight: 400;
        }
        letter-spacing: 0.0175rem;

        span {
            color: #393939;
            font: {
                size: 0.875rem;
                weight: 700;
            }
            letter-spacing: 0.0175rem;
        }
    }

    :nth-child(2) {
        width: 3.6rem;
        text-align: center;
        background: none;
        border: 0.0625rem solid #393939;
        box-shadow: $box-shadow;
        outline: none;
    }
}
