@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$box-shadow:
    10px 10px 20px 0px rgba(0, 0, 0, 0.25) inset,
    -10px -10px 20px 0px #202020 inset;
$background-color: #1a1a1a;

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    color: #747474;
    font-family: "Poppins", sans-serif;
}

body {
    min-width: 20rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
}

.root-container {
    width: 100%;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
    background-color: $background-color;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-container {
    display: flex;
    padding: 0.56rem 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow;
    gap: 3.5rem;
    flex: 1 1 18rem;
}

label {
    font : {
        size: 1rem;
        weight: 400;
    }
    letter-spacing: 0.02rem;
    width: max-content;
}

input {
    width: 0;
    background: none;
    border: none;
    text-align: end;
    outline: none;
    font : {
        size: 2rem;
        weight: 400;
    }
    letter-spacing: 0.04rem;
    flex: 1 1 auto;
}

.copy-button {
    width: 2.5625rem;
    height: 2.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
