    * {
        margin: 0rem;
        padding: 0rem;
        box-sizing: border-box;
    }

    body {
        min-width: 20rem;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .root-container {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }